.nav {
  background-color: #0166FF;
  height: 0.5rem;
  position: fixed;
  top: 0;
  z-index: 55000;
}

body:before {
  position: fixed;
  z-index: 1;
  top: 0;
  display: block;
  content: "";
  width: 100%;
  height: 10px;
  background: #00d2ff;
  background: -webkit-gradient(linear, left top, right top, from(#0166FF), to(#00d2ff));
  background: linear-gradient(90deg, #0166FF, #00d2ff);
}


.container {
  width: 100%;
  max-width: 50rem;
  margin: auto;
}

.section {
  padding: 2rem 2rem;
}

.divider {
  height: 1px;
  background-color: #eeeeee;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.text-7xl {
  font-size: 5rem
}

.text-blue {
  color: #009AFE
}

ol {
  list-style: none;
}

ol li::before {
  content: "\2022";
  color: #009AFE;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}